<div class="boxes boxes-inline">
  <div class="box type-1">
    <a href="" class="content">
      <svg class="icon"><use xlink:href="./assets/svg/dashboard.svg#top-union"></use></svg>
      <span class="text">{{ "TOP.PRICE_INQ" | translate }}</span>
    </a>
  </div>
  <div class="box type-1">
    <a href="" class="content">
      <svg class="icon"><use xlink:href="./assets/svg/dashboard.svg#top-paper"></use></svg>
      <span class="text">{{ "TOP.INVENTORY_INQ" | translate }}</span>
    </a>
  </div>
  <div class="box type-1">
    <a href="" class="content">
      <svg class="icon"><use xlink:href="./assets/svg/dashboard.svg#top-sameday"></use></svg>
      <span class="text">{{ "TOP.OTHER_INQ" | translate }}</span>
    </a>
  </div>
  <div class="box type-1">
    <a href="" class="content">
      <svg class="icon"><use xlink:href="./assets/svg/dashboard.svg#top-notepad"></use></svg>
      <span class="text">{{ "TOP.ORDER_HISTORY_MR" | translate }}</span>
    </a>
  </div>
  <div class="box type-1">
    <a href="" class="content">
      <svg class="icon"><use xlink:href="./assets/svg/dashboard.svg#top-star"></use></svg>
      <span class="text">{{ "TOP.FAVORITE" | translate }}</span>
    </a>
  </div>
</div>
<div class="boxes">
  <h2 class="boxes-title">ORDER</h2>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(254, 245, 237);">
      <span class="text">{{ "MENU.ORDER.TYPE_SCHEDULING" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(254, 245, 237);">
      <span class="text">{{ "MENU.ORDER.TYPE_KE" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(254, 245, 237);">
      <span class="text">{{ "MENU.ORDER.TYPE_KB_ZKB" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(241, 247, 254);">
      <span class="text">{{ "MENU.ORDER.TYPE_ZTKA_B" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(252, 247, 249);">
      <span class="text">{{ "MENU.ORDER.TYPE_MB1A" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(254, 245, 237);">
      <span class="text">{{ "MENU.ORDER.TYPE_OR_PARENT" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(252, 247, 249);">
      <span class="text">{{ "MENU.ORDER.TYPE_ZRB" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(241, 247, 254);">
      <span class="text">{{ "MENU.ORDER.TYPE_ZKFCI" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(254, 251, 236);">
      <span class="text">{{ "MENU.ORDER.TYPE_COMPLAINT" | translate }}</span>
    </a>
  </div>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(241, 247, 254);">
      <span class="text">{{ "MENU.ORDER.TYPE_SAMPLE" | translate }}</span>
    </a>
  </div>
</div>
<div class="boxes">
  <h2 class="boxes-title">PRICING</h2>
  <div class="box type-2">
    <a href="" class="content" style="background-color: rgb(254, 245, 237);">
      <span class="text">{{ "MENU.ORDER.TYPE_CR_DR" | translate }}</span>
    </a>
  </div>
</div>
