<div class="login-layout">
  <div class="left" style="background-image: url('{{backgroundUrl}}');"></div>
  <div class="right">
    <div class="logo-wrapper">
      <img src="{{logoUrl}}" alt="">
    </div>
    <div class="form-steps {{step2Actived == true ? 'active-2': 'active-1'}}">
      <div class="step step-1 {{step2Actived == false ? 'show': 'hide'}}">
        <div style="width: 100%;">
          <div class="align-center" nzspan="24">
            <button class="btn-primary ant-btn ant-btn-primary ant-btn-round ant-btn-lg" nz-button nzshape="round">
              <div class="flex-center">
                <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="22" height="22" rx="11" fill="white"/><path d="M12.444 5.8V17H9.852V7.88H7.612V5.8H12.444Z" fill="black"/></svg>
                <span style="margin-left: 10px;">Login by BSC Account</span>
              </div>
            </button>
          </div>
          <div class="align-center" style="margin-top: 20px;">
            <button nz-button class="btn-secondary ant-btn ant-btn-primary ant-btn-round ant-btn-lg" (click)="step2Actived = true" nzshape="round">
              <span>Non BSC Account</span>
            </button>
          </div>
        </div>
      </div>
      <div class="step step-2 {{step2Actived == true ? 'show': 'hide'}}">
        <form class="login-form" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitLogin()">
          <h2 class="form-label align-center" style="margin-bottom: 20px;">NON BSC ACCOUNT</h2>
          <nz-form-label>User Name</nz-form-label>
          <nz-form-item>
            <nz-form-control nzErrorTip="This field is required">
              <nz-input-group>
                <input class="form-input" type="text" nz-input formControlName="userName" placeholder="User Name" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-label>Password</nz-form-label>
          <nz-form-item>
            <nz-form-control nzErrorTip="This field is required">
              <nz-input-group>
                <div class="password-wrapper">
                  <input class="form-input" [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Password" />
                  <i class="icon-inner" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                </div>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="ant-row" style="width: 100%;">
              <div class="ant-col ant-col-8 align-left">
                <button class="form-btn btn-nonbg ant-btn ant-btn-round" nz-button (click)="step2Actived = false">Back</button>
              </div>
              <div class="ant-col ant-col-8 ant-col-offset-8 align-right">
                <button class="form-btn btn-primary ant-btn ant-btn-round" nz-button>Login</button>
              </div>
            </div>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div class="select-languange">
      <div class="ant-row align-center" style="width: 100%;">
        <strong class="ant-col-24" style="margin-bottom: 10px; color: #163b6d;">Choose language</strong> <br>
        <div class="ant-col ant-col-24 select-wrapper">
          <nz-select
            [(ngModel)]="selectedValue"
            nzBorderless="true"
            nzSize="default"
            [nzOptions]="languages"
            [nzShowArrow]="false"
          >
          </nz-select>
          <svg viewBox="0 0 1024 1024" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="caret-down" aria-hidden="true"><path d="M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z"></path></svg>
        </div>
      </div>
    </div>
  </div>
</div>
