<nz-layout class="app-layout">
  <div class="sidebar-toggle cursor-pointer" (click)="isSidebarCollapsed =! isSidebarCollapsed" [style]="isSidebarCollapsed ? 'transform: rotate(-180deg)':''">
    <svg class="icon">
      <use xlink:href="./assets/svg/icons.svg#hamburger"></use>
    </svg>
  </div>
  <!-- Sidebar -->
  <nz-sider
    [class]="isSidebarCollapsed ? 'menu-sidebar sidebar-close' : 'menu-sidebar' "
    nzCollapsible nzWidth="240px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isSidebarCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a class="logo-link flex-center" routerLink="/home">
        <img class="logo" src="./assets/images/splashscreen.png" alt="logo">
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="sidebar-menu" nz-menu nzMode="inline">
        <li class="item" nz-menu-item>
          <a class="item-link" routerLink="/tw/home" routerLinkActive="active">
            <span class="icon"><svg><use xlink:href="./assets/svg/icons.svg#home"></use></svg></span>
            <span class="text">{{ "MENU.HOME" | translate }}</span>
          </a>
        </li>
        <li class="item" nz-submenu [nzTitle]="masterData">
          <ng-template #masterData>
            <div class="item-link">
              <span class="icon"><svg><use xlink:href="./assets/svg/icons.svg#database"></use></svg></span>
              <span class="text">{{ "MENU.MASTER_DATA.INDEX" | translate }}</span>
            </div>
          </ng-template>
          <ul class="children">
            <li class="item level-1" nz-menu-item>
              <a href="" class="item-link">
                <span class="icon flex-center">
                  <i nz-icon nzType="right" nzTheme="outline"></i>
                </span>
                <span class="text">{{ "MENU.MASTER_DATA.BOX_UNBOX" | translate }}</span>
              </a>
            </li>
            <li class="item level-1" nz-menu-item>
              <a href="" class="item-link">
                <span class="icon flex-center">
                  <i nz-icon nzType="right" nzTheme="outline"></i>
                </span>
                <span class="text">{{ "MENU.MASTER_DATA.BUNDLE" | translate }}</span>
              </a>
            </li>
            <li class="item level-1" nz-menu-item>
              <a href="" class="item-link">
                <span class="icon flex-center">
                  <i nz-icon nzType="right" nzTheme="outline"></i>
                </span>
                <span class="text">{{ "MENU.MASTER_DATA.BUNDLE" | translate }}</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="item" nz-submenu [nzTitle]="adminMenu">
          <ng-template #adminMenu>
            <div class="item-link">
              <span class="icon"><svg><use xlink:href="./assets/svg/icons.svg#admin-menu"></use></svg></span>
              <span class="text">{{ "MENU.ADMIN.INDEX" | translate }}</span>
            </div>
          </ng-template>
          <ul class="children">
            <li class="item level-1" nz-menu-item>
              <a href="" class="item-link">
                <span class="icon flex-center">
                  <i nz-icon nzType="right" nzTheme="outline"></i>
                </span>
                <span class="text">{{ "MENU.ADMIN.BROAD_MSG" | translate }}</span>
              </a>
            </li>
            <li class="item level-1" nz-menu-item>
              <a href="" class="item-link">
                <span class="icon flex-center">
                  <i nz-icon nzType="right" nzTheme="outline"></i>
                </span>
                <span class="text">{{ "MENU.ADMIN.EXCHANGE_RATE" | translate }}</span>
              </a>
            </li>
            <li class="item level-1" nz-menu-item>
              <a href="" class="item-link">
                <span class="icon flex-center">
                  <i nz-icon nzType="right" nzTheme="outline"></i>
                </span>
                <span class="text">{{ "MENU.ADMIN.USER_MNGT" | translate }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="sidebar-copy">{{ 'copyright' | translate }}</div>
      <div class="sidebar-version">#22/06/29:1426_TW_ver_#66</div>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div [class]="isHeaderCollapsed ? 'header-wrapper open':'header-wrapper'">
          <div class="left">
            <ul class="links">
              <li class="item">
                <a href="mailto:TBD@bsci.com?subject=[My Orders Inquiry]"
                  nzPopoverPlacement="bottomLeft"
                  nz-popover
                  [nzPopoverContent]="tooltipCustumerServe"
                >
                  <svg class="icon">
                    <use xlink:href="./assets/svg/icons.svg#email-circle"></use>
                  </svg>
                  <span class="text" [innerHTML]="'HEAD.LINK_CUSTOMER_SERV' | translate">
                  </span>
                </a>
              </li>
              <li class="item">
                <a href=""
                  nzPopoverPlacement="bottomLeft"
                  nz-popover
                  [nzPopoverContent]="tooltipITServe"
                >
                  <svg class="icon">
                    <use xlink:href="./assets/svg/icons.svg#question-circle"></use>
                  </svg>
                  <span class="text" [innerHTML]="'HEAD.LINK_IT_SERV' | translate">
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="right">
            <ul class="menu">
              <li class="item">
                <svg class="icon">
                  <use xlink:href="./assets/svg/icons.svg#font-typo"></use>
                </svg>
                <span class="text">
                  <nz-select
                    *ngIf="selectedFontSize"
                    [(ngModel)]="selectedFontSize"
                    (ngModelChange)="changeFontSize()"
                    nzBorderless="true"
                    nzSuffixIcon="caret-down"
                  >
                  <nz-option [nzHide]="selectedFontSize == f.key" *ngFor="let f of fontSizeOptions" nzValue="{{f.key}}" nzLabel="{{'HEAD.'+f.value | translate}}"></nz-option>
                </nz-select>
                </span>
              </li>
              <div class="divider"></div>
              <li class="item">
                <svg class="icon">
                  <use xlink:href="./assets/svg/icons.svg#earth"></use>
                </svg>
                <span class="text">
                  <nz-select
                    *ngIf="selectedLang"
                    [(ngModel)]="selectedLang"
                    (ngModelChange)="changeLanguage()"
                    nzBorderless="true"
                    nzSize="default"
                    nzSuffixIcon="caret-down"
                  >
                  <nz-option [nzHide]="selectedLang == l.key" *ngFor="let l of languages" [nzValue]="l.key" [nzLabel]="'LANG.'+l.code | translate"></nz-option>
                </nz-select>
                </span>
              </li>
              <div class="divider"></div>
              <li class="item notifications cursor-pointer">
                <div class="badge flex-center"
                  nz-popover
                  nzPopoverTrigger="click"
                  nzPopoverPlacement="bottomRight"
                  [nzPopoverContent]="notificationTemplate"
                >
                  <svg class="icon">
                    <use xlink:href="./assets/svg/icons.svg#bell"></use>
                  </svg>
                  <span class="badge-sup" *ngIf="unread > 0">{{unread}}</span>
                </div>
                <div class="text">Notifications</div>
              </li>
              <div class="divider"></div>
              <li class="item cursor-pointer" *ngIf="profile">
                <div class="header-ava"
                  nz-popover
                  nzPopoverTrigger="click"
                  nzPopoverPlacement="bottomRight"
                  [nzPopoverContent]="userProfileTemplate"
                >
                  <div class="text">{{profile.fullName[0]}}</div>
                </div>
                <div class="plain-text">{{profile.fullName}}</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="header-wrapper-toggle cursor-pointer" (click)="isHeaderCollapsed =! isHeaderCollapsed" [style]="isHeaderCollapsed ? 'transform: rotate(-180deg)':''">
          <svg class="icon">
            <symbol id="menu-right-toggle" viewBox="0 0 91.914 91.914" style="enable-background:new 0 0 91.914 91.914;">
              <g>
                <g>
                  <rect x="1.124" width="89.666" height="14.089"></rect>
                  <rect x="26.29" y="25.494" width="64.447" height="14.09"></rect>
                  <rect x="1.124" y="52.33" width="89.666" height="14.09"></rect>
                  <rect x="26.29" y="77.825" width="64.447" height="14.089"></rect>
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </symbol>
            <use xlink:href="#menu-right-toggle"></use>
          </svg>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="content-inner">
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #tooltipCustumerServe>
  <div class="header-tooltip-wrapper">
    <span class="content" [innerHTML]="'HEAD.LINK_CUSTOMER_SERV' | translate"></span>
  </div>
</ng-template>
<ng-template #tooltipITServe>
  <div class="header-tooltip-wrapper">
    <span class="content" [innerHTML]="'HEAD.LINK_IT_SERV' | translate"></span>
  </div>
</ng-template>
<ng-template #notificationTemplate>
  <div class="header-notification-wrapper">
    <div class="header flex-between align-center">
      <div class="left flex-between align-center">
        <h2 class="title">{{ "HEAD.NOTIFICATION" | translate }}</h2>
        <div (click)="refreshNotification()" class="item cursor-pointer {{ isRefreshLoading ? 'loading' : ''}}">
          <svg class="icon">
            <use xlink:href="./assets/svg/icons.svg#refresh"></use>
          </svg>
        </div>
      </div>
      <div class="right cursor-pointer"
        nz-popover
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomRight"
        [nzPopoverContent]="notificationActionTemplate"
      >
        <svg class="icon">
          <use xlink:href="./assets/svg/icons.svg#hamburger"></use>
        </svg>
      </div>
    </div>
    <div class="top">
      <div class="{{ isAllActive ? 'active':'' }} filter-tag cursor-pointer" (click)="getAllNotification()">{{ "HEAD.ALL" | translate }}</div>
      <div class="{{ isReadActive ? 'active':'' }} filter-tag cursor-pointer" (click)="getReadNotification()">{{ "HEAD.READ" | translate }}</div>
      <div class="{{ isUnreadActive ? 'active':'' }} filter-tag cursor-pointer" (click)="getUnreadNotification()">{{ "HEAD.UNREAD" | translate }}</div>
    </div>
    <cdk-virtual-scroll-viewport
      class="notification-content"
      itemSize="80"
      minBufferPx="100"
      maxBufferPx="200"
      (scrolledIndexChange)="scrolledIndexChange()"
      *ngIf="notifications">
      <div class="list">
        <li class="item {{ noti.hasAlreadyRead ? '' : 'new'}}" *cdkVirtualFor="let noti of notifications; trackBy: trackByIdx">
          <div class="content">{{ noti.title }}</div>
          <div class="time">{{ noti.createdDate | date: 'dd/MM/yyyy hh:mm:ss' }}</div>
        </li>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-template>
<ng-template #notificationActionTemplate>
  <div class="notification-action-wrapper">
    <div><a (click)="markAllAsRead()">{{ "HEAD.MARK_ALL_AS_READ" | translate}}</a></div>
    <div><a>{{ "HEAD.NOTI_SETTING" | translate}}</a></div>
  </div>
</ng-template>
<ng-template #userProfileTemplate>
  <div class="header-profile-wrapper">
    <div class="top flex-between align-center">
      <div class="left">Boston Scientific</div>
      <div class="right">
        <button
          class="logout"
          nz-button
          nzDanger
          nzType="text"
          (click)="logout()">{{ "HEAD.LOG_OUT" | translate }}</button>
      </div>
    </div>
    <div class="content flex">
      <div class="left">
        <div class="header-ava large">
          <div class="text">{{profile.fullName[0]}}</div>
        </div>
      </div>
      <div class="right">
        <div class="title">{{profile.fullName}}</div>
        <p>{{profile.email}}</p>
        <p>{{ "ADMIN.ROLE.title" | translate }}: {{profile.role.name}}</p>
        <div class="action">
          <a class="block align-left">{{ "COMMON.CHANGE_PASS" | translate }}</a>
          <a class="block align-left">{{ "login.SWITCH_COUNTRY" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
